@use "base/reset";
@use "base/variables" as vars;
@use "base/base";
@use "base/colors";
@use "layout/containers";
@use "layout/grid";
@use "layout/grid_extras";
@use "base/typography";

body {
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
  color: vars.$primary-color;
}

.debug-border {
  margin-block: 10px;

  .item {
    outline: 1px solid;
    background-color: wheat;
  }
}